* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.wrapper {
  width: 1080px;
  margin: auto;
}

.row {
  display: flex;
  height: 80px;
  width: 100%;
}

.box {
  display: flex;
  align-items:center;
  justify-content: center;
  height: 50px;
  width: 17%;
  border: 1px solid #000;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
